$zippyred: #861704;
$zippyteal: #1c3345;
$zippymedteal: #05494e;
$zippyltteal: #86aece;
$zippytan: #e7cc9d;
$zippylttan: #ebe0ce;
$zippydkbrown: #462a20;
$zippygray: #e2e5e5;
$zippywhite: #ffffff;
$fontRoboto: 'Roboto', sans-serif;
$maxWidth: 800px;
$tabletWidth: 600px;
$phoneWidth: 400px;


html {
    background-color: $zippywhite;
}

body {
    margin-top: 0;
    font-family: $fontRoboto;
    margin: 0 auto;
    padding: 1rem;
    background-color: $zippygray;
    border: 1px solid $zippydkbrown;
    box-shadow: 30px 0px 40px rgba(55,105,112,0.4),
    -30px 0px 40px rgba(55, 105, 112, 0.4);
}

header {
    margin: 0;
    border-bottom: 2px solid $zippymedteal;
    .center {
        display: block;
        width: 75%;
        margin: 0 auto;
    }
}

main {
    margin-left: auto;
    margin-right: auto;
    
}

footer {
    clear: both;
    margin-top: 1em;
    border-top: 2px solid $zippymedteal;
    p {
        text-align: center;
        font-size: 75%;
        margin: 1rem 0;
    }
}

table {
    background-color: $zippywhite;
    border: 1px solid $zippymedteal;
    border-collapse: collapse;
    td, th {
        padding: .25rem;
        border: 1px solid $zippymedteal;
        vertical-align: top;
        text-align: left;
    }
}

#tableDiv {
    overflow: auto;
    width: 100%;
}

#heading {
    font-size: 100%;
}

@media screen and (min-width: 800px) {
    body{
        max-width: 60%;
        font-size: 1.25rem;
    }
      
}

@media screen and (min-width: 600px) and  (max-width: 799px) {
    body{
        max-width: 100%;
        font-size: 1.5rem;
    }
   
}

